.shrink70{
    zoom: 0.7; 
}
.shrink60{
    zoom: 0.6; 
}
.shrink50{
    zoom: 0.5; 
}
.shrink30{
    /*-webkit-transform:scale(0.3);
    -moz-transform:scale(0.3);
    -ms-transform:scale(0.3);*/
    /*transform:scale(0.3);*/
    zoom: 0.3; 
}

/* Middle-tone colors with 2 shadows */
.demo4 { 
    color: #3B5957;
    /*background-color: #5D8D89;*/
    text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);
}

.card-placeholder {
    border: 1px dotted black;
  border-radius: 4px;
    margin: 0 15px 20px 15px;
  padding: 0;
    height: 50px;
}
