.fs-modal {
  padding: 0 !important; // override inline padding-right added from js
}
.fs-modal .fs-modal-dialog {
  width: 99.9%;
  max-width: none;
  height: 99.9%;
  margin: 0;
}
.fs-modal .fs-modal-content {
  height: 99.9%;
  /*border: 0;*/
  /*border-radius: 0;*/
}
.fs-modal .fs-modal-body {
  overflow-y: auto;
}
