.bg-navy { background: navy; color: white; }
.bg-teal { background: teal; color: white; }
.bg-olive { background: olive; color: white; }
.bg-purple { background: purple; color: white; }
.bg-maroon { background: maroon; color: white; }
.bg-indianred { background: indianred; color: white; }
